<!DOCTYPE html>
<html lang="{{or .Params.language .Lang}}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title></title>
    <meta name="description" content="" />
    <meta name="author" content="Kisaragi Hiu" />
    <link rel="stylesheet" href="/css/built.css" />
    <link rel="stylesheet" href="/css/interface.css" />
    <script src="/js/paged.polyfill.js"></script>
  </head>
  <body>
    <!-- Or remove coontent/_index.org and write HTML directly and  -->
    {{ .Content }}
  </body>
</html>
