@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16pt;
  }
  h2 {
    @apply text-xl font-bold mt-2;
  }
}

@layer utilities {
  .break-before {
    break-before: page;
  }
}

@page {
  size: A4 landscape;
  margin: 20mm 30mm;
}
